.idea
build
dist
smfhcp.egg-info
smfhcp/__pycache__
smfhcpApp/__pycache__
smfhcp/migrations/__pycache__
smfhcpApp/templatetags/__pycache__
smfhcp/views/__pycache__
smfhcp/utils/__pycache__
db.sqlite3
.coverage
htmlcov
smfhcp/test/__pycache__
smfhcp/dao/__pycache__
smfhcp/esmapper/__pycache__
