{% load static %}

{% block nav %}

<style>
    .plus-minus {
        background-color: #3ecb87;
        border: 1px solid #3ecb87;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
</style>
{% if request.session.is_authenticated %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="nav-container" style="padding: 15px 100px 15px 100px; border-bottom: 1px solid #e4e6e9">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/favicon-dr.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">SMFHCP <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/trending">Trending</a>
      {% if request.session.is_doctor %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="addPost" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add post
        </a>
        <div class="dropdown-menu" aria-labelledby="addPost">
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#generalPostModal">General Post</a>
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#caseStudyModal">Case study</a>
        </div>
      </li>
      {% endif %}
    </div>
  </div>

  <div class="form-inline">
    <form class="form-inline" method="GET" action="/search">
      <div class="input-group">
        <input type="text" id="search_query" name="q" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      {% if request.session.is_doctor %}
      <div class="dropdown" style="margin-left: 20px; margin-right: 20px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.session.user_name }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/view_profile/{{ request.session.user_name }}">View profile</a>
          <a class="dropdown-item" href="" data-toggle="modal" data-target="#updateProfileModal">Update profile</a>
        </div>
      </div>
      {% else %}
        <a class="nav-item nav-link" style="color: #838b9a;">
        {{ request.session.user_name }}
        </a>
      {% endif %}
      <a class="btn btn-outline-dark my-2 my-sm-0" href="{% url 'logout' %}" type="submit">Logout</a>
    </form>
  </div>

</nav>

{% if request.session.is_doctor %}
  <a href="" style="position: fixed; bottom: 40px; right: 40px;" data-toggle="modal" data-target="#chatModal">
    <div data-toggle="tooltip" data-placement="top" title="Chat" style="display: inline-block; padding-left: 9px; padding-top: 5px; background-color: #F7F7F7; border-radius: 20px; width: 40px; height: 40px; border: 1px solid #eaeaea">
        <image src="/static/images/chatbox.svg" style="width: 20px;"></image>
    </div>
  </a>
  <a href="" style="position: fixed; bottom: 100px; right: 40px;" data-toggle="modal" data-target="#exampleModalCenter">
    <div data-toggle="tooltip" data-placement="top" title="Invite doctor" style="display: inline-block; padding-left: 9px; padding-top: 5px; background-color: #F7F7F7; border-radius: 20px; width: 40px; height: 40px; border: 1px solid #eaeaea">
        <image src="/static/images/add-circle.svg" style="width: 20px;"></image>
    </div>
  </a>
{% endif %}


{% include 'smfhcp/invite.html'%}

{% include 'smfhcp/update.html'%}

{% include 'smfhcp/case_study.html'%}

{% include 'smfhcp/general_post.html'%}

{% if request.session.is_doctor %}

{% include 'smfhcp/chat.html'%}

{% endif %}

<script src="{% static 'js/invite.js' %}"></script>
<script src="{% static 'js/updateProfile.js' %}"></script>
<script src="{% static 'js/caseStudy.js' %}"></script>
<script src="{% static 'js/generalPost.js' %}"></script>

<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/follow.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>

{% endif %}

{% endblock %}