{% extends 'smfhcp/base.html' %}
{% block content %}
{% load static %}

<style>

body {
  background-color: #EFF0F2;
}

.bg-light {
  background-color: #ffffff !important;
}

</style>

{% if request.session.is_authenticated %}
    <div class="container" style="padding: 300px;">
     <h1>Please log out and try again.</h1>
    </div>
{% else %}
    <div class="container" style="padding-top: 50px !important; padding-bottom: 50px !important;">
      <div class="d-flex justify-content-center">
<!--        <img src="{% static 'images/wallet.svg' %}" width="50" height="50" class="d-inline-block align-top" alt="">-->
        <h1 style="font-family: 'Source Sans Pro', sans-serif;">SMFHCP</h1>
      </div>
      <div class="row border-0" style="background-color: white; margin: 50px 220px 0 220px; border-radius: 8px; box-shadow: 0 19px 38px rgba(0,0,0,0.12);">
          <div class="col-md-12" style="padding: 50px 50px 50px 50px; padding-bottom: 20px;">
            <form action="/reset_password/{{user_name}}/{{otp}}" method="POST" id="resetPasswordForm">
                {% csrf_token %}
                <div class="form-group">
                   <label for="userName">Username</label>
                   <input name="user_name" style="background-color: #eaeaea" type="text" readonly class="form-control" id="userName" value="{{user_name}}">
               </div>
              <div class="form-group">
                <label for="newPasswordId">New password</label>
                <input name="new_password" type="password" required class="form-control" id="newPasswordId">
              </div>
              <div class="form-group">
                <label for="confirmNewPasswordId">Confirm new password</label>
                <input name="confirm_new_password" type="password" required class="form-control" id="confirmNewPasswordId">
              </div>
                <div id="msgDivReset" role="alert"></div>
              <button type="submit" class="btn btn-success btn-block" style="padding-top: 9px; padding-bottom: 9px; background-color: #3ecb87; border: none; margin-top: 40px; border-radius: 40px !important;">Reset password</button>
            </form>
          </div>
      </div>
    </div>

    <script src="{% static 'js/formValidation.js' %}"></script>
{% endif %}

{% endblock %}