<!DOCTYPE html>
<html>
<body>
    <table>
        <tr>
            <td>
                <div>
                    <div align="center" style="border-radius: 8px; background-color: #fcfcfc; margin: 20px 120px 20px 120px; font-size: 24px; border: 1px solid rgba(0,0,0,0.12)">
                        <div style="padding-top: 20px; padding-bottom: 20px;">
                            <p style="margin-top: 0px; margin-bottom: 15px; margin-left: 40px; margin-right: 40px;">
                                Hi {{ username }}, <br>
                                We have received a request to reset your password.
                            </p>
                            <a href="http://{{server_address}}/reset_password/{{username}}/{{otp}}" type="submit" style="text-decoration: none; font-size: 20px; border: 1px solid #343a40; border-radius: 4px; background-color: #343a40; padding-top: 5px; margin-bottom: 10px; padding-bottom: 5px;">
                                <span style="color: white; padding-right: 10px; padding-left: 10px;">Reset password</span>
                            </a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
