{% extends 'smfhcp/base.html' %}
{% block content %}

{% load static %}

{% load smfhcp_extras %}

{% if request.session.is_authenticated %}
<div class="container" style="padding: 100px 200px 50px 200px; margin-top: 50px;">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-10" style="display: flex;">
            <img src="/static/images/profiles/{{profile_picture}}" class="rounded-circle" style="width: 150px; height: 150px; float: left;">
            <div style="padding-left: 15px; display: flex;">
                <div class="row" style="align-items: stretch;">
                    <div class="col-md-12 my-auto">
                        <h2>{{ full_name }}</h2>
                        <p class="text-left">{{ profession }}, {{ institution }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if user_name != request.session.user_name %}
        <div class="col-md-2 my-auto">
            <a href="{{ user_name }}" id="followLink">
                <div data-toggle="tooltip" data-placement="top" title="{% if isFollowing %}Unfollow {% else %}Follow {% endif %}{{ user_name }}" id="followDiv" style="display: inline-block; padding-left: 9px; padding-top: 5px; background-color: #F7F7F7; border-radius: 20px; width: 40px; height: 40px; border: 1px solid #eaeaea">
                    <image src="/static/images/{% if isFollowing %}unfollow{% else %}follow{% endif %}.png" style="width: 20px;" id="followImage"></image>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5>Research Interests</h5>
            <p class="text-left">
                <ul>
                {% for r in research_interests %}
                    <li>{{ r }}</li>
                {% endfor %}
                </ul>
            </p>
            <h5>Clinical Interests</h5>
            <p class="text-left">
                <ul>
                {% for r in clinical_interests %}
                    <li>{{ r }}</li>
                {% endfor %}
                </ul>
            </p>
        </div>
        <div class="col-md-4">
            <h4>Qualifications</h4>
            <p class="text-left">
                <ul>
                {% for r in qualification %}
                    <li>{{ r }}</li>
                {% endfor %}
                </ul>
            </p>
        </div>
    </div>
    <hr>
</div>
<div class="container">

{% autoescape off %}

    <div class="row">
        <div class="col-md-3">
            <h5>Stats</h5>
            <p><b>Posts</b> {{ post_count }}</p>
            <p><b>Followers</b> {{ follower_count }}</p>
            <p><b>Following</b> {{ following_count }}</p>
        </div>
        <div class="col-md-9" style="margin-bottom: 50px;">
            {% if posts_available %}
            {% for p in posts %}
                {% with values=p|get:'_source' %}
                    <div class="container" style="max-width: 800px; margin-bottom: 80px;">
                        <div style="margin-bottom: 15px;">
                            {% for tag in values.tags %}
                                <a class="text-muted" href="/tagged/{{ tag }}" style="text-decoration: none; background-color: #F7F7F7; padding: 5px 15px 5px 15px; margin-right: 12px; display: inline-block; font-size: 14px; border-radius: 3px;">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <h2>{{ values.title }}</h2>
                                <p style="margin-bottom: 0px;"><a href="/view_profile/{{  values.user_name }}" style="color: black">{{ values.full_name }}</a> | <span class="text-muted">{{ values.profession }}, {{ values.institution }}</span><br>
                                <small class="text-muted">Posted {{ values.date }}</small>
                <!--                <small class="text-muted">Views: {{ view_count }}</small>-->
                                </p>
                            </div>
                        </div>
                        <hr>
                        {% if values.description %}
                        <h3>Description</h3>
                        <p>{{ values.description|safe|truncatewords_html:"50" }} <small class="text-muted"><a href="/view_post/{{ p|get:'_id' }}" target="_blank" style="color: #3f3f3f;">Read More</a></small></p>
                        {% else %}
                        <h3>History</h3>
                        <p>{{ values.history }}</p>
                        <h3>Examination</h3>
                        <p>{{ values.examination|safe|truncatewords_html:"50" }} <small class="text-muted"><a href="/view_post/{{ p|get:'_id' }}" target="_blank" style="color: #3f3f3f;">Read More</a></small></p>
                        {% endif %}
                        <hr>
                    </div>
                {% endwith %}
            {% endfor %}
            {% else %}

            {% endif %}
        </div>
    </div>

{% endautoescape %}

</div>

{% endif %}

{% endblock %}