{% extends 'smfhcp/base.html' %}
{% block content %}
{% load static %}<div class="container">
 <div class="row">
  <br><br>
  <div class="col m6 card-panel white offset-m3" style="text-align:center">
    <h1>Student Portal NIT DGP</h1>
    <h4>Sign in to access all the facilities</h4>
    <br>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
     <img id="signInButton" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
    </a>
    <br>
  </div>
 </div>
</div>{% endblock %}