{% extends 'smfhcp/base.html' %}
{% block content %}
{% load static %}

<style>

body {
  background-color: #EFF0F2;
}

.bg-light {
  background-color: #ffffff !important;
}

</style>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <div class="container" style="padding-top: 100px !important; padding-bottom: 100px !important;">
      <div class="d-flex justify-content-center">
        <img src="{% static 'images/wallet.svg' %}" width="50" height="50" class="d-inline-block align-top" alt="">
        <h1 style="font-family: 'Source Sans Pro', sans-serif;">SMFHCP</h1>
      </div>
      <div class="row border-0" style="background-color: white; margin: 140px 120px 0 120px; border-radius: 8px; box-shadow: 0 19px 38px rgba(0,0,0,0.12);">
          <div class="col-md-6" style="padding: 50px 50px 50px 50px;">
            <form>
              <div class="form-group">
                <label for="exampleUsername1" style="font-size: 14px;">Username</label>
                <input name="user_name" type="text" required="true" class="form-control" id="exampleUsername1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" style="font-size: 14px;">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-success btn-block" style="padding-top: 9px; padding-bottom: 9px; background-color: #3ecb87; border: none; margin-top: 40px; border-radius: 40px !important;">Log In</button>
            </form>
          </div>
          <div class="col-md-6 text-center" style="background-color: #F9F9F9; border-top-right-radius: 8px; border-bottom-right-radius: 8px">
            <a class="btn btn-danger" href="{% url 'social:begin' 'google-oauth2' %}?next=/" style="border-radius: 55px; margin-top: 90px;">
              <div class="row" style="padding-right: 21px;">
                <div class="col-md-3" style="padding-right: 0px"><ion-icon name="logo-google" style="font-size: 30px; padding-top: 7px;"></ion-icon></div>
                <div class="col-md-9" style="font-size: 15px; line-height: 40px; padding-left: 12px;">Log in with Google</div>
              </div>
            </a>
            <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next=/" style="border-radius: 55px; margin-top: 40px;">
              <div class="row" style="padding-right: 21px;">
                <div class="col-md-3" style="padding-right: 0px"><ion-icon name="logo-facebook" style="font-size: 30px; padding-top: 7px;"></ion-icon></div>
                <div class="col-md-9" style="font-size: 15px; line-height: 40px; padding-left: 12px;">Log in with Facebook</div>
              </div>
            </a>
          </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
     <!-- Button trigger modal -->
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
      Sign up instead
    </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #F9F9F9;">
          <div class="modal-header" style="padding-right: 30px; padding-left: 30px;">
            <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 20px 30px 30px 30px;">
            <div>
              <form action="signup_email/"  method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                  <label for="exampleInputPassword1">Username</label>
                  <input name="user_name" type="text" required="true" class="form-control" id="exampleInputUsername1">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" required="true" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword2">Password</label>
                    <input name="password" type="password" required="true" class="form-control" id="exampleInputPassword2">
                  </div>
                    <div class="form-group">
                    <label for="exampleInputPassword3">Confirm Password</label>
                    <input name="password" type="password" required="true" class="form-control" id="exampleInputPassword3">
                  </div>
                  <button type="submit" class="btn btn-success btn-block" style="padding-top: 9px; padding-bottom: 9px; background-color: #3ecb87; border: none; margin-top: 30px; border-radius: 40px !important;">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>{% endblock %}