<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    {% extends 'smfhcp/base.html' %}
    {% block content %}
    {% load static %}
    <div class="container">
     <div class="row">
      <br><br>
         <div>
            <form action="login_username/"  method="POST">
                {% csrf_token %}
                <div class="form-group">
                <label for="exampleInputPassword1">Username</label>
                <input name="user_name" type="text" required="true" class="form-control" id="exampleInputUsername1" placeholder="User Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" required="true" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </form>
         </div>
      <div class="col m6 card-panel white offset-m3" style="text-align:center">
        <h1>Student Portal NIT DGP</h1>
        <h4>Sign in to access all the facilities</h4>
        <br>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
         <img id="signInButton" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
        </a>
        <br>
      </div>
     </div>

         <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Sign up instead
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
            <form action="signup_email/"  method="POST">
                {% csrf_token %}
                <div class="form-group">
                <label for="exampleInputPassword1">Username</label>
                <input name="user_name" type="text" required="true" class="form-control" id="exampleInputUsername1" placeholder="User Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" type="email" required="true" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" required="true" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" required="true" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
              </div>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
         </div>
          </div>
        </div>
      </div>
    </div>

    </div>{% endblock %}

  </body>
</html>